.page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.left-container,
.right-container {
  width: 30%;
  overflow: hidden;
  position: relative;
}

.center-container {
  width: 40%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.scrolling-images {
  width: 100%;
  height: 300px;
  overflow: hidden; 
  position: relative; 
  margin-right: 20px;
}

.scrolling-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scrolling-images .image-container-inner {
  display: flex;
  flex-direction: column;
  animation: scroll 10s linear infinite; 
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.right-container.food-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px 0;
}

.login-input-group {
  margin-bottom: 15px;
}

.login-input-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.login-input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
