
.custom-navbar {
    background-color: yellow !important; 
    color: black; 
}


.custom-navbar .navbar-dark .navbar-nav .nav-link {
    color: red; 
    font-weight: bold; 
}


.custom-navbar .nav-link:hover {
    color: darkred; 
}


.custom-navbar .nav-link svg {
    color: red; 
    font-size: 24px; 
}


body {
    margin: 0;
    background-color: black; 
    color: white; 
}


.main-content {
    background-color: black;
    color: white; 
    min-height: 100vh; 
    padding: 20px; 
}
